
{% extends 'dashboard/base.html'%} {% load static %}
<!-- Content -->
{% block title %}Doko - Dashboard{% endblock %} 
{% block start %}

            <!-- Content -->

            <div class="container-fluid flex-grow-1 container-p-y">
              <!-- Layout Demo -->
              <div class="layout-demo-wrapper">
                <div class="layout-demo-info">
                  <h4>Blog Topic Generetor</h4>
                  <p>Hello Blog Topic</p>
                </div>
              </div>
              <!--/ Layout Demo -->
            </div>
            <!-- / Content -->

          

{% endblock %}